@model Mall_Managment_System.Models.FooditemViewModel

@{
    ViewData["Title"] = "Addfooditem";
}

<h1>Addfooditem</h1>

<h4>FoodItems</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Addfooditem" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                    <label asp-for="FoodCourt_id" class="control-label"></label>
                    <select asp-for="FoodCourt_id" class="form-control" asp-items="ViewBag.foodcourtid"></select>
                    <span asp-validation-for="FoodCourt_id" class="text-danger"></span>
               
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
