@model Mall_Managment_System.Models.FoodCourtViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class=" col-md-10 ">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <p class="success">@ViewBag.success</p>
                <div class="d-flex align-items-center justify-content-between mb-3">

                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Food Court</h3>
                    <h3>Edit Court</h3>
                </div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="/images/@ViewData["Image"]" width="150" alt="Alternate text" />
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
