@model Mall_Managment_System.Models.Shops



@{
    Layout = "/Views/Shared/layouts.cshtml";
    var item = ViewBag.Item as Mall_Managment_System.Models.Items;
}
}
<div class="container">
    <div class="row">
<div class="col-md-12">

            <h1 class="mtext-105 cl2 txt-center p-b-30">
                Shop Details
            </h1>

            <div>

                <a class="btn btn-outline-info mb-2" asp-action="Shop">Back to List</a>
            </div>

          <div class="row text-center">

                <div class="col-md-6 border">
                    <img src="~/images/@Html.DisplayFor(model => model.Image)" class="w-100" />
                </div>


                <div class="col-md-6">

                    <h2>Shop Name  @Html.DisplayFor(model => model.Name)</h2>
                    <p><b>Description</b>@Html.DisplayFor(model => model.Description)</p>
                   

                </div>

          </div>

    </div>
    <div class="row">
        <h1>shops items</h1>
            @if (item != null)
            {
                <h3>shop item Name : @item.Description</h3>

            }

    </div>

</div>
</div>
