@model Mall_Managment_System.Models.ShopViewModel
@{
    ViewData["Title"] = "Addproduct";
}
<h1>Add Shop</h1>

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class=" col-md-10 ">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <p class="success">@ViewBag.success</p>
                <div class="d-flex align-items-center justify-content-between text-center mb-3">
                   
                  <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Shops</h3>
                   <h3>Add Shop</h3>
                </div>
                  <form asp-action="Addproduct" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                        <input asp-for="Name" type="text" class="form-control" id="floatingText" placeholder="#Example" />
                        <label for="floatingText" asp-for="Name">Shop Name</label>
                            <span asp-validation-for="Name"  class="text-danger"></span>
                    </div>

                <div class="form-floating mb-3">
                  
                        <textarea asp-for="Description" type="text" class="form-control" id="floatingInput" placeholder="Descriptionm"></textarea>

                        <label for="floatingInput" asp-for="Description">Description</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                        <input asp-for="Photo"  class="form-control">
                        <label for="floatingimage" asp-for="Photo"></label>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                </div>

                    <input type="submit" value="Create" class="btn btn-outline-primary py-3 mb-4">
             
                </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>









@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
